.pagination {
    margin-bottom: 30px;

    text-align: center;
}

.pagination span {
    display: inline-block;
    margin: 0 5px;

    cursor: pointer;
}

.selectedPage {
    font-weight: 700;
}

.btn {
    display: inline-block;
    width: 70px;
    padding: 5px;
    margin: 0 10px;
}