.app-wrapper {
	margin: 0 auto;
	padding: 0 15px;
	width: 1170px;
	display: grid;

	grid-template-areas: 
	"header header header"
	"nav content content";
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 15px;
}
